[Unit]
Description=PiLogger service file
Documentation=https://github.com/msfrt/PiLogger
After=multi-user.target

[Service]
Restart=on-failure
RestartSec=1
ExecStart=sudo /sbin/ip link set can0 up type can bitrate 1000000; sudo /sbin/ip link set can1 up type can bitrate 1000000; /bin/logger -f /etc/PiLogger/logger.conf

[Install]
WantedBy=multi-user.target