{% extends "layout.html" %}

{% block script %}
function getCodeBoxElement(index) {
  return document.getElementById('data' + index);
}
function onKeyUpEvent(index, event) {
  const eventCode = event.which || event.keyCode;
  if (getCodeBoxElement(index).value.length === 2) {
    if (index !== 8) {
      getCodeBoxElement(index+ 1).focus();
    } else {
      getCodeBoxElement(index).blur();
      // Submit code
      // console.log('submit code ');
    }
  }
  if (eventCode === 8 && index !== 1 && getCodeBoxElement(index).value.length === 0) {
    getCodeBoxElement(index - 1).focus();
  }
}
function onFocusEvent(index) {
  for (item = 1; item < index; item++) {
    const currentElement = getCodeBoxElement(item);
    if (!currentElement.value) {
        currentElement.focus();
        break;
    }
  }
}
{% endblock %}

{% block body %}
    <p style="text-align:center;"> MSU Formula Racing Team <br/> Welcome! </p>
    <div class="container" style="display: flex">
      <div style="width: 50%;" class="box">
          <form action="/success">
              <p>Send a message manually here</p>
              <p>
                  <label for="id">ID:</label>
                  <input name="id" type="text">
              </p>
              <p>
                  <label for="data0">Message (Hexadecimal):</label>
                  <div>
                      <input class="byte_box" id="data1" name="data1" type="text" maxlength="2" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)">
                      <input class="byte_box" id="data2" name="data2" type="text" maxlength="2" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)">
                      <input class="byte_box" id="data3" name="data3" type="text" maxlength="2" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)">
                      <input class="byte_box" id="data4" name="data4" type="text" maxlength="2" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)">
                      <input class="byte_box" id="data5" name="data5" type="text" maxlength="2" onkeyup="onKeyUpEvent(5, event)" onfocus="onFocusEvent(5)">
                      <input class="byte_box" id="data6" name="data6" type="text" maxlength="2" onkeyup="onKeyUpEvent(6, event)" onfocus="onFocusEvent(6)">
                      <input class="byte_box" id="data7" name="data7" type="text" maxlength="2" onkeyup="onKeyUpEvent(7, event)" onfocus="onFocusEvent(7)">
                      <input class="byte_box" id="data8" name="data8" type="text" maxlength="2" onkeyup="onKeyUpEvent(8, event)" onfocus="onFocusEvent(8)">
                  </div>
              </p>
              <p>
                  <input type="submit">
              </p>
          </form>
      </div>
      <div class="box" style="width: 50%; flex-grow: 1">
        <p>USER_11</p>
        <label for="led">
          <p>Driver Display LED Color Codes</p>
          <p>Default: 0</p>
          <p>Blink White: 1</p>
          <p>Blink Yellow: 2</p
        </label>
        <p><input type="number" id='led' name="led" value="" min="0" max="2" step="1"></p>
        <button type="button" name="led_button" onclick="led_color()">Send</button>
      </div>
      <div class="box" style="width: 50%; flex-grow: 1">
        <p>USER_12</p>
        <label for="display">
          <p>For the driver display message, type your 8-character-long message. It will be automatically displayed.</p>
        </label>
        <p><input type="text" id='display' name="display" value="" maxlength="8"></p>
        <button type="button" name="display_button" onclick="display_message()">Send</button>
      </div>
    </div>
    <div class="box">
        <form action="/success2">
            <p>USER_10</p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="switch">
              <label class="form-check-label" for="flexSwitchCheckDefault">Enable Message</label>
            </div>
            <input name="delay" type="number" min="0" max="60000" value="1000" id="delay">
            <div style="margin:20px">
                <div class="slidecontainer">
                  <input type="range" min="0" max="100" value="0" class="slider" id="myRange1" name="myRange1" oninput="display(this.value, this.id)">
                </div>
                <span>Left: </span>
                <span id="display1">0</span>
            </div>

            <div style="margin:20px">
                <div class="slidecontainer">
                  <input type="range" min="0" max="100" value="0" class="slider" id="myRange2" name="myRange2" oninput="display(this.value, this.id)">
                </div>
                <span>Right: </span>
                <span id="display2">0</span>
            </div>

            <div style="margin:20px">
                <div class="slidecontainer">
                  <input type="range" min="0" max="100" value="0" class="slider" id="myRange3" name="myRange3" oninput="display(this.value, this.id)">
                </div>
                <span>Water Pump: </span>
                <span id="display3">0</span>
            </div>

            <div style="margin:20px">
                <div class="slidecontainer">
                  <input type="range" min="0" max="100" value="0" class="slider" id="myRange4" name="myRange4" oninput="display(this.value, this.id)">
                </div>
                <span>Brake: </span>
                <span id="display4">0</span>
            </div>
            <input type="submit">
        </form>

    </div>

    <script>
        function display(val, id) {
          var str = id;
          var c = str.charAt(str.length - 1)
          var val_id = "display" + c
          document.getElementById(val_id).innerHTML = val;
        }
    </script>

    <script type="text/javascript" charset="utf-8">
        var socket = io();
        var switchStatus = "off";
        var sending;

        function led_color() {
          socket.emit('led_color',
          {'color': $('#led').val()}
          );
        }
        function display_message() {
          socket.emit('display_message',
          {'text': $('#display').val()}
          );
        }
        function update() {
            socket.emit('update',
            {'left': $('#myRange1').val(),
            'right': $('#myRange2').val(),
            'pump': $('#myRange3').val(),
            'brake': $('#myRange4').val()}
            );
        }

        $('#flexSwitchCheckDefault').on('change', function() {
            if (switchStatus == "off") {
                switchStatus = "on"
                sending = setInterval(update, $('#delay').val());
            } else {
                switchStatus = "off"
                clearInterval(sending)
            }

        })

    </script>


{% endblock %}
