{% extends 'layout.html' %}

{% block body %}
<h1 style='text-align:center' >MSU Formula Racing Team <br> Welcome!</h1>
<h2>Download data</h2>
<p>Select a measurement</p>
<form action="/" method="post" id="user">
  <select name="measurements" id="measurements" class="form-select" size="12" aria-label="size 12 select example">
    <option value="cpu">cpu</option>
    <option value="disk">disk</option>
    <option value="diskio">diskio</option>
    <option value="kernel">kernel</option>
    <option value="mem">mem</option>
    <option value="net">net</option>
    <option value="processes">processes</option>
    <option value="swap">swap</option>
    <option value="system">system</option>
    <option value="temp">temp</option>
    <option value="weather">weather</option>
    <option value="wireless">wireless</option>
  </select>
  <input type="submit" value="Download">
</form>
{% endblock %}
